/*==========  Desktop First Method  ==========*/
@import 'color.scss';
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px){
	.header_phone,
	.header_delivery,
	.main_menu{
		display: none;
	}
	header{
		padding: 0.8750rem 1.25rem;
	}
	.header_info_section{
		margin-bottom: 0;
		padding-left: 1.875rem;
	}
	.header_logo{
		margin-right: 2.5rem;
		flex-basis: 20%;
	}
	.header_search{
		flex-basis: 80%;
		margin-right: 1.25rem;
		#search{
			width: 90%;
		}
	}
	.menu_icon{
		display:block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.5625rem;
		&:hover{
			cursor: pointer;
		}
	}
	.main_menu{
		position: absolute;
		width: 100%;
		margin-left: -20px;
		top: 100%;
		background-color: $main_color;
		li{
			padding: 0;
			a{
				display: block;
				text-align: left;
			}
		}
	}
	.cart{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 2.5rem;
		font-size: 1.25rem;
		span{
			display: none;
		}
	}
	.catalog{
		padding: 0;
	}
	.filter_wrapper{
		display: none;
	}

	.catalog_hidden_filters{
		display:flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media only screen and (max-width : 980px){
	.catalog_content{
		margin-top: 0;
		.catalog_item{
			flex: 1 1 30%;
			&:nth-child(4n+3){
				border-right: 1px solid rgba($font_color, .4); 
			}
		}
		.catalog_item_big{
			flex: 2 2 60%;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 640px){
	html{
		font-size: 14px;
	}
	.header_info_section{
		.header_logo{
			flex-basis: 100%;
		}
		.header_search{
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			top: 100%;
			border-top: 1px solid #fff;
			i{
				display: none;
			}
			#search{
				width: 100%;
			}
		}
		.search_button{
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 4.5rem;
			background-color: inherit;
			border: medium none;
			color: #fff;
			font-size: 1.428rem;
			cursor: pointer;
		}
	}
		.catalog_content{
		margin-top: 0;
		.catalog_item{
			flex: 1 1 100%;
		}
		.catalog_item_big{
			flex: 2 2 100%;
			flex-direction: column;
		}
	}
	footer{
		padding: 1.25rem;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 360px){

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	/**/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}



